<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_btl">

		<!-- màn SignIn -->
		<activity android:name=".Login.SignInactivity" />

		<!-- màn Home -->
		<activity android:name=".home.MainHomeActivity" />

<!--		&lt;!&ndash; replaced deprecated SignInactivity with LoginActivity &ndash;&gt;-->
<!--		<activity android:name=".LoginActivity" />-->


		<!-- ChiTietSP activity (product detail) -->
		<activity android:name=".ChiTietSPActivity" />

		<!-- Gio hang activity (product detail) -->
		<activity android:name=".cart.MainActivity_giohang" />

		<!-- Form Thanh toán lý Hóa -->
		<activity android:name=".CheckOutActivity" />

		<!-- Form thông báo -->
		<activity android:name=".notification.NotificationsActivity" />

		<!-- Form profile -->
		<activity android:name=".profile.ProfileActivity" />

		<!-- Form profile -->
		<activity android:name=".profile.EditProfileActivity" />

		<!-- màn Splash (màn khởi động app) -->
		<activity
			android:name=".Login.SplashActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

    </application>
</manifest>


